#TabsToolbar { visibility: collapse !important; }
#webrtcIndicator { display: none; }

#star-button,
#star-button-box { display: none !important; }
#urlbar-input { text-align: center !important; }
#urlbar-input::placeholder{ color: transparent; }


/* SITE is now fullscreen */
#fullscreen-and-pointerlock-wrapper {
  display: none;
}
